<? I18N znc-webadmin ?>
<? INC Header.tmpl ?>

<div class="textsection">
<p><? FORMAT "Welcome to WBNC's webpanel." ?><br/>
<? FORMAT "Amy changes you make will be effective immediately after they have been submitted. Changes in your real name or ident etc. will be effective after using /znc jump." ?></p>
</div>

<? INC Footer.tmpl ?>
