						<i>ZNC "forest" Web Skin - based on "dark-clouds" by <a href="mailto:davidp@preshweb.co.uk">David Precious</a></i>
						<i>DreamBNC - Bouncers like a dream! | http://dreambnc.xyz | support@dreambnc.xyz</i>
