<? INC Header.tmpl ?>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<?IF LoggedIn ?>
			<hr>
			<p>Welcome to WBNC's webpanel! This is the place where you can manage your account and such.</p>
			<p>If for any reason you require assistance, feel free to give us an email at info@wbnc.tk - Also make sure to check out our <a href="http://wbnc.tk" target="_blank">Website</a> and our <a href="https://github.com/wbnc" target"_blank">GitHub Page.</a></p>
		<?IF !GlobalModLoop ?>
			<?IF !UserModLoop ?>
				<p>Oh noes! Looks like no modules have been loaded! Please contact a staff member for assistance.</p>
			<? ENDIF ?>
		<? ENDIF ?>
	<? ENDIF ?>
	</div>
</div>	
<? INC Footer.tmpl ?>
